---
import Layout from '../layouts/Layout.astro';
const title = 'RF Reader'
const description = 'A pared down reader app so you can focus on just that; reading.'
---

<Layout title={title}>
	<main class="flow">
		<section class="flow mb-36">
			<div class="pt-24 flow max-w-prose mx-auto text-center">
				<h1>{title}</h1>
				<p>{description}</p>
			</div>
		</section>
		<section class="flow mb-16">
			<div class="flow max-w-prose mx-auto">
				<h2 class="text-center">Reading List</h2>
				<ul>
					<li><a href="#">An interesting story</a></li>
					<li><a href="#">Some research</a></li>
					<li><a href="#">A sample link</a></li>
					<li><a href="#">How to get hired</a></li>
					<li><a href="#">Did you know that I'm a Front-End Developer?</a></li>
					<li><a href="#">You should check out my GitHub</a></li>
					<li><a href="#">Do you like reading?</a></li>
				</ul>
	</main>
</Layout>